header{
    position: fixed;
    top: 0;
    width:100vw;
    height: 80px;
    display: flex;
    align-items: center;
    background: #141414;
    justify-content: space-around;
    z-index: 1000;
    transition: all ease-in-out .3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.608);
    overflow: hidden;
    gap: 1rem;
}
#contatos{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: .5rem;
    width: auto;
    height: 100%;
    padding: 1rem 3rem 1rem 3rem;
  
}
.redes:hover{
    animation: flutando 1s infinite;
}
.redes a{
    text-decoration: none;
}

.redes i{
    font-size: 25px;
    color: white;
    transition: all ease-in-out .2s;
}

.redes i:hover{
    color: lightskyblue;
    
    
}
@keyframes flutando2 {
    0%{
        transform: translateY(0px);
        color: lightskyblue;
    }
    50%{
        transform: translateY(-1px);
        color: lightskyblue;
    }
    100%{
        transform: translateY(0px);
        color: lightskyblue;
    }
}
#menu-itens{ 
    width: auto;
    height:100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 14px;
    cursor: pointer;
    
}

.item{
    text-decoration: none;
    width: auto;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    transition: all ease-in-out .2s;
    
}
.item:hover{
    color: lightskyblue;
    transform: ;
}

