header{
    position: fixed;
    top: 0;
    width:100vw;
    height: 80px;
    background:var(--cor-fundo);
    z-index: 1000;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.608);
    overflow-x: hidden;
    transition: background ease-in-out .3s;
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height:100%;
    gap: 1rem;
    transition: all ease-in-out .3s;
}
#contatos{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: .5rem;
    width: auto;
    height: 100%;
    padding: 1rem 3rem 1rem 3rem;
  
}
.redes a{
    text-decoration: none;
}

.redes i{
    font-size: 25px;
    color:var(--cor-secundaria);
    transition: all ease-in-out .2s;
}

.redes i:hover{
    color:var(--cor-primaria);
}
#menu-itens{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    gap: 4rem;
    padding: 1rem;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    cursor: pointer;
    background:rgba(255, 255, 255, 0.871);
    font-size: var(--medium-size);
    transition: all ease-in-out .5s;
}
#menu-itens li{
    padding: 5px;
}
.item{
    text-decoration: none;
    width:auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--cor-secundaria);
    transition: all ease-in-out .2s;
    white-space: nowrap;
    
}

.item:hover{
    color: var(--cor-primaria-2);
    transform:rotate(-5deg);
}

#toggle-btn{
    width:fit-content;
    height: fit-content;
    padding:1rem;       
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    color:var(--cor-secundaria);
   
}
#toggle-btn:hover{
    color: var(--cor-primaria);
    
}
/* 
#toggle-btn::before{
    content: '';
    position: absolute;
    top:0;
    right:0;
    background:linear-gradient(to right, var(--cor-primaria), var(--cor-primaria-2));
    width:0;
    height:100%;
    color:var(--cor-primaria);
    z-index: -1;
    
}
#toggle-btn:hover::before{
    color:var(--cor-fundo);
    width:100%;
    transition: all .8s;
    
    
} */
.hidden{
    display: none;
}

#btn-ul{
    list-style: none;
}
.icone > i{
    transition: all ease-in-out .2s;
    font-size: var(--large-size);
}
.icone > i:hover{
    color: var(--cor-primaria);
}
.right-nav{
    display: flex;
    align-items: center;
}
.menu_burguer{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background:transparent;
    color: var(--cor-secundaria);
    border-radius: 15px;
    cursor: pointer;
    transition:all ease-in-out .2s;
    z-index: 3001;
}