header{
    position: fixed;
    top: 0;
    width:100vw;
    height: 80px;
    display: flex;
    align-items: center;
    background:var(--cor-fundo);
    justify-content: space-around;
    z-index: 1000;
    transition: all ease-in-out .3s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.608);
    overflow: hidden;
    gap: 1rem;
}
#contatos{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: .5rem;
    width: auto;
    height: 100%;
    padding: 1rem 3rem 1rem 3rem;
  
}
.redes a{
    text-decoration: none;
}

.redes i{
    font-size: 25px;
    color:var(--cor-secundaria);
    transition: all ease-in-out .2s;
}

.redes i:hover{
    color:var(--cor-primaria);
}
#menu-itens{ 
    width: auto;
    height:100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: var(--large-size);
    cursor: pointer;
    
}

.item{
    text-decoration: none;
    width: auto;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--cor-secundaria);
    transition: all ease-in-out .2s;
    
}
.item:hover{
    color:var(--cor-primaria);
    transform:translateY(-5px) ;
}

#toggle-btn{
    width:auto;
    height: fit-content;
    padding:1rem;
    border:solid 2px var(--cor-primaria);
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
}


#toggle-btn::before{
    content: '';
    position: absolute;
    top:0;
    right:0;
    background:linear-gradient(to right, var(--cor-primaria), var(--cor-primaria-2));
    width:0;
    height:100%;
    color:var(--cor-primaria);
    z-index: -1;
    
}
#toggle-btn:hover::before{
    color:var(--cor-fundo);
    width:100%;
    transition: all .8s;
    
    
}

.hidden{
    display: none;
}

#btn-ul{
    list-style: none;
}
.icone > i{
    color:var(--cor-secundaria);
    text-shadow: 1px 1px 3px black;
}