*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   
   background:linear-gradient(to bottom, rgb(20, 20, 20),rgb(30, 30, 30)); 
}


header{
    width: 100vw;
    height: 65px;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    padding: 2rem;
}
#titulo{
    font-family: monospace;
    
}
#menu-itens{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-family: monospace;
    font-size: 25px;
    cursor: pointer;
    
}
#menu-itens li{
    color: white;
    transition: all ease-in-out .2s;

}
#menu-itens li:hover{
    color: rgb(255, 118, 118);
    
}

#image{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: .5rem; 
    
}
#image img{ 
    width: 100%;
    height: 42rem;
    object-fit: cover;   
}

#sobremim{
    background:linear-gradient(to top, rgba(37, 37, 37, 0.233), rgba(29, 29, 29, 0.753));
    border-radius: 20px;
    padding: 1rem;
    width: 28rem; 
    height:20rem;
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 16px;
    color: white;

}

#Nome{
    background:linear-gradient(to left, rgba(37, 37, 37, 0.233), rgba(29, 29, 29, 0.753));
    border-radius: 20px;
    padding: 1rem;
    position: absolute;
    top: 15%;
    left: 4%;
    font-size: 4rem;
    color: white;
    transition: all ease-in-out .2s;
}
#Nome:hover{
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(255, 83, 83);
}
