*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}
body{
    background:var(--cor-fundo);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}

::-webkit-scrollbar-thumb{
    background:var(--cor-primaria) ;
    border-radius: 10px;
}


:root{

/*Cores */

--cor-primaria:#87cefa ;
--cor-primaria-2:#9bd9ff;
--cor-secundaria:#ffffff ;
--cor-fundo:#141414 ;

/*Fontes*/

--title-size:28px;
--subtitle-size:22px;
--large-size:18px;
--medium-size:15px;
--small-size:12px;

}


:root.light {
    --cor-primaria:#8C52FF;
    --cor-primaria-2:#993399;
    --cor-secundaria:#141414;
    --cor-fundo:#FFFFE8;

    
}









