*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}
body{
    background:var(--cor-fundo);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}

::-webkit-scrollbar-thumb{
    background:var(--cor-primaria) ;
    border-radius: 10px;
}


:root{

--cor-primaria:#87cefa ;
--cor-secundaria:#ffffff ;
--cor-fundo:#141414 ;

}




