
/* Tela para Monitores */

@media screen and (min-width:900px) {

    #menu-itens{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        background: transparent;
        backdrop-filter: blur(0px);
        position: relative;
        font-size: var(--small-size);
    }
    #nav-container{
        justify-content: space-around;
    }
    .item{
        text-decoration: none;
        width:auto;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color:var(--cor-secundaria);
        transition: all ease-in-out .2s;
    }
    .item:hover{
        color: var(--cor-primaria-2);
    }
    .menu_burguer{
        display: none;
    }
}

/* Telas para tablets */