#separ{
    margin-top: 200px;
    width: 100vw;
    height: 600px auto;
    z-index: -1;
    padding: 3rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    
}
#inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:5rem;
    
}
#saturn{
    width: 350px;
    height: 350px;
    animation: flutando 2s infinite linear;
    transition: all ease-in-out .2s;
    background: transparent;
    
}
@keyframes flutando {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
#cumprimento{
    color: var(--cor-primaria);
    letter-spacing: 5px;
    font-size: var(--title-size);
}
#title{
    width: fit-content;
    height: fit-content;
    color:var(--cor-secundaria);
    list-style: none;
}
#title > li{
    margin: .5rem;
    text-align: left;
}
#title p{
    font-size: var(--subtitle--size);
    color: var(--cor-primaria);
    letter-spacing: 5px;
}
#titulo{
    color:var(--cor-secundaria);
    font-size: var(--title-size);
    width: auto;
    height: auto;
    letter-spacing: 5px;
}

#sobremim{
    position: relative;
    top: 300px;
    width: 100%;
    height: auto;
    padding: 3rem;
    background:var(--cor-fundo-2);

}
#sobretit{ 
   font-size:var(--subtitle-size);
   color:var(--cor-primaria);
   border-bottom:solid 2px var(--cor-primaria);
   color: #993399;
}


#ola h2{
    font-size: 25px;
    color: gold;
}
.texto{
    color: antiquewhite;
    font-size: 16px;
}

