#separ{
    margin-top: 100px;
    width: 100vw;
    height: 600px auto;
    z-index: -1;
    padding: 3rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    
}
#inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#saturn{
    width: 350px;
    height: 350px;
    animation: flutando 2s infinite linear;
    transition: all ease-in-out .2s;
    background: transparent;
    
}
@keyframes flutando {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
#cumprimento{
    color: var(--cor-primaria);
    letter-spacing: 5px;
}
#title{
    padding: 3rem;
    height: auto;
    color:var(--cor-secundaria);
    border-radius: 20px;
}
#title p{
    font-family: monospace;
    font-size: 20px;
    color: var(--cor-primaria);
    letter-spacing: 5px;
}
#titulo{
    color:var(--cor-secundaria);
    font-size: 32px;
    width: auto;
    height: auto;
    letter-spacing: 2px;
}

#sobremim{
    position: relative;
    top: 100px;
    
    width: 100%;
    height: auto;
    padding: 3rem;
    background:#0d0d0d;

}
#sobretit{ 
   font-size:31px;
   color:white;
   
   border-bottom:solid 2px #993399;
   color: #993399;
   width:50%;
}

#ola{
    width: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}
#ola h2{
    font-size: 25px;
    color: gold;
}
.texto{
    color: antiquewhite;
    font-size: 16px;
}

i {
    display: none;
}

i.active {
    display: block;
}