#separ{
    margin-top: 150px;
    width: 100vw;
    height: 600px auto;
    z-index: -1;
    padding: 3rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    
}
#inicio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#saturn{
    width: 350px;
    height: 350px;
}

#title{
    padding: 3rem;
    height: auto;
    color: white;
    border-radius: 20px;
}
#title p{
    font-size: 20px;
    color: gold;
}
#titulo{
    color: white;
    font-size: 32px;
    width: auto;
    height: auto;
}

#sobremim{
    position: relative;
    top: 200px;
    
    width: 100%;
    height: auto;
    padding: 3rem;
    background:#0d0d0d;

}
#sobretit{ 
   font-size:31px;
   color:white;
   
   border-bottom:solid 2px #993399;
   color: #993399;
   width:50%;
}

#ola{
    width: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}
#ola h2{
    font-size: 25px;
    color: gold;
}
.texto{
    color: antiquewhite;
    font-size: 16px;
}
